*, ::after, ::before {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  align-items: center;
  margin: 150px auto 0;
  border-radius: 10px;
  padding: 10px;
  background: #51cccc;
}

.lable {
  display: flex;
  align-items: center;
}

.form-input {
  width: 100%;
  max-width: 300px;
  padding: 5px 10px;
  border-radius: 10px;
  border: 5px solid rgb(9, 0, 0);
  margin-left: 15px;
}

.send {
  border-radius: 10px;
  padding: 5px 10px;
  border: 5px solid rgb(9, 0, 0);
}

.message-error {
  position: fixed;
  padding: 100px 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 500px;
  border-radius: 15px;
  background: #9dcc51;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  transition: .5s ease;
}

.message-error.active {
  z-index: 10;
  opacity: 1;
  visibility: visible;
}

.error-span {
  color: aquamarine;
}

.error-input {
  color: bisque;
}